include ./layout

+layout
  .bar.bar-header.item-input-inset
    label.item-input-wrapper
      i.icon.ion-ios7-search.placeholder-icon
      input(type="search" placeholder="Search")
    //- button.button.button-clear Cancel
  script(src="/javascripts/discover.js")