mixin layoutWithPadding
  +_layout(true)
    block

mixin layout
  +_layout(false)
    block

mixin _layout(padding_enabled)
  doctype html
  html(lang="en")
    head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width")
      title My Steroids App
      link(rel="stylesheet" href="/components/ionic/css/ionic.min.css")
      link(rel="stylesheet" href="/components/ionicons/css/ionicons.min.css")
      link(rel="stylesheet" href="/stylesheets/base.css")

      script(src="https://code.jquery.com/jquery-2.1.1.min.js")
      script(src="/javascripts/onerror.js")
      script(src="/javascripts/console.log.js")

      script(src="http://localhost/cordova.js")
      script(src="/components/steroids-js/steroids.js")

      script(src="/javascripts/app.js")

    body.content(style="background-color: #f5f5f5")
      if padding_enabled
        .padding
          block
      else
        block
