include ./layout

+layout
  .list
    .item.item-divider In Stay
    
    .item.item-divider Reserved
    a#hey.item(href="") The Forest
      span.item-note Jun 21-23
    a.item(href="") The Waterfall
      span.item-note Jun 23-24

    .item.item-divider Visited
    a.item(href="") Fuckers Club
      span.item-note Mar 07-10, 2013
    a.item(href="") HooRay Seoul
      span.item-note Mar 01-06, 2013
    a.item(href="") Howddy House
      span.item-note Jan 21-22, 2013
    a.item(href="") 
      span.item-note other 17 places

  script(src="/javascripts/visit.js")